section
  h2#about-me About Myself
  hr.bar

  div.about-lock
    .flip-container(ontouchstart="this.classList.toggle('hover');")
     .flipper
       .front
          div.face-img
       .back
          div.face1-img

    div(class="glyph-icon flaticon-cogwheel28")
    div(class="glyph-icon flaticon-computer1")
    div(class="glyph-icon flaticon-hosting")
    div(class="glyph-icon flaticon-computers13")

  div.blurb
    p I am software engineer with experience in large scale web applications, automation, networking and scripting. I thrive on projects that challenge what i know and force me to master what I don't. I have recently acquire an MSc in Software Engineering from UCD. I am an advocate for agile software development practices and have developed and deployed many enterprise applications.

  div.skill-lock
