section
  h2 About Myself

  div.about-lock

    div.face-img

    div.icon1


    div.icon2


    div.icon3


    div.icon4

  div.blurb
    p
      strong Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Cras molestie, eros egestas condimentum iaculis, nunc enim egestas nisl, eu posuere ipsum nulla et tellus. Etiam nibh ante, mattis quis est vel, venenatis auctor risus. Duis consequat, tortor eget sagittis euismod, lacus mauris molestie neque, non volutpat erat ligula a sapien. Quisque venenatis leo at nisl auctor tincidunt et sed purus. Curabitur hendrerit laoreet elit, vel fringilla sapien imperdiet a. In a est dapibus, laoreet eros vel, porta neque. Vestibulum est risus, tempor quis est a, lacinia lacinia lacus. Morbi facilisis neque id velit ullamcorper, sed consectetur quam consequat.

  div.skill-lock
