section.section-contac

  h2#contact Contact Details

  div(class="glyph-icon flaticon-facebook31")

  div(class="glyph-icon flaticon-linkedin11")

  div(class="glyph-icon flaticon-github13")

  div(class="glyph-icon flaticon-youtube17")
