footer
  div.lockup
    div.logo

    div.content-wrap
      nav
        a(href='') About Me
        a(href='') Work
        a(href='') Blog
        a(href='') Contact Me

      p.copyright All Content copright 2014
