#container.logo
  a(href='#')
    img(src='../assets/img/GOC1.png').logo
header#h_small
  nav#nav_small
    a(href='/#about-me') About Me
    a(href='/#Experenice') Experience
    a(href='/#Blog') Blog
    a(href='/#Details') Contact Me
