a(href="#" class="back-to-top") Back To Top
#container.logo

header
  nav
    a(href='#about-me') About Me
    a(href='') Work
    a(href='') Projects
    a(href='') Contact Me
    a(href='') Blog

  h1
    span Gearoid O'Connor
  p.kicker Software Engineer // Thinker // Designer
