#container.logo
  a(href='#')
    img(src='../assets/img/GOC1.png').logo
header#home
  nav

    a(href='#about-me') About Me
    a(href='#Experenice') Experience
    a(href='/posts') Blog
    a(href='#Details') Contact Me


  h1
    span Gearoid O'Connor
  p.kicker Software Engineer // Developer // Designer
