header
  #container.logo
  nav
    a(href='') About Me
    a(href='') Work
    a(href='') Blog
    a(href='') Contact Me


  h1
    span Gearoid O'Connor
  p.kicker Software Engineer // Thinker // Designer
