#container.logo
header#home
  nav

    a(href='#about-me') About Me
    a(href='#Experenice') Experience
    a(href='#Blog') Blog
    a(href='#Details') Contact Me


  h1
    span Gearoid O'Connor
  p.kicker Software Engineer // Developer // Designer
