.history
  .cd-timeline-header
    h2 Life Story

  section#cd-timeline.cd-container
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="../assets/img/cd-icon-picture.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2 Title of section 1
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.

          span.cd-date Jan 14
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-movie
          img(src="../assets/img/cd-icon-movie.svg", alt="Movie")
        // cd-timeline-img
        .cd-timeline-content
          h2 Title of section 2
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?

          span.cd-date Jan 18
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="../assets/img/cd-icon-picture.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2 Title of section 3
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.

          span.cd-date Jan 24
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="../assets/img/cd-icon-location.svg", alt="Location")
        // cd-timeline-img
        .cd-timeline-content
          h2 Title of section 4
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
          span.cd-date Feb 14
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="../assets/img/cd-icon-location.svg", alt="Location")
        // cd-timeline-img
        .cd-timeline-content
          h2 Title of section 5
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.

          span.cd-date Feb 18
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-movie
          img(src="../assets/img/cd-icon-movie.svg", alt="Movie")
        // cd-timeline-img
        .cd-timeline-content
          h2 Final Section
          p This is the content of the last section
          span.cd-date Feb 26
        // cd-timeline-content
        // cd-timeline-block
        // cd-timeline
