section
  h2#Contact Wanna talk?
  hr.bar

  form(method="post" action="//forms.brace.io/gearoidmoc@gmail.com")
    .contact-info-group
      label
        span Your Name
        input(type="text" name="name")
      label
        span Your Email
        input(type="email" name="_replyto")
    label
      span What??
      textarea(name="Message")
      .submit-wrap
        input(type="submit" value="Send")
