

<section>
    <h2 id="about-me">About Myself</h2>
    <hr class="bar"/>
    <div class="about-lock">
       <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
          <div class="flipper">
             <div class="front">
                <div class="face-img"></div>
             </div>
             <div class="back">
                <div class="face1-img"></div>
             </div>
          </div>
       </div>
       <div class="glyph-icon flaticon-cogwheel28"></div>
       <div class="glyph-icon flaticon-computer1"></div>
       <div class="glyph-icon flaticon-hosting"></div>
       <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb">
       <p>I am a software engineer with deep knowledge of web application development and enterprise integrations. I recieved a first class masters degree in Software Engineering from UCD. I am an advocate for agile software development practices and open organisations. I have developed and deployed many enterprise applications.</p>
    </div>
    <div class="skill-lock"></div>
 </section>
 
 