.about-lock
  max-width:780px
  +display(flex)
  margin: 0 auto
  +align-items(center)
  +justify-content(space-between)

  .face-img
    +size(200px)
    border-radius: 50%
    background: url(../img/android.JPG)
    margin: 30px
    +order(3)

  .icon1
    +size(100px)
    border-radius: 5%
    background: url(../img/1-cmd.JPG)
    +order(1)
  .icon2
    +size(100px)
    border-radius: 5%
    background: url(../img/2-cloud.JPG)
    +order(2)

  .icon3
    +size(100px)
    border-radius: 5%
    background: url(../img/3-cllog.JPG)
    +order(4)
  .icon4
    +size(100px)
    border-radius: 5%
    background: url(../img/4-connect.JPG)
    +order(5)

@media screen and (max-width:650px)
  .about-lock
    display:block
    text-align: center
  div
    display: inline-block
    margin: 10px
  .face-img
    display: flex
    background-position: center center
    background-repeat: no-repeat
    width: auto
    margin-bottom: 30px

.blurb
  max-width: 620px
  padding: 0 15px
  margin: 50px auto
  font-size: 25px
  text-align: center
  font-weight: 30
