h2
    @extend %small-bold
    color: $sunset
    text-align: center

.about-lock
  max-width:780px
  +display(flex)
  margin: 0 auto
  +align-items(center)
  +justify-content(space-around)

  .face-img
    +size(200px)
    border-radius: 50%
    background: url(../img/android.JPG)
