.post-header
  max-width:750px
  +display(flex)
  margin: 0 auto
  +align-items(center)
  +justify-content(space-between)

.title
  &:hover
    max-width:750px
    padding-left: 10px
    +display(flex)
    +align-items(center)
    +justify-content(space-between)

.post-title
  font-size: 42px
  letter-spacing: -1px
  line-height: 1


.post-meta
  margin-bottom: 0px

.post-link
  display: block
  font-size: 42px


.post
  max-width:780px
  +display(flex)
  margin: 0 auto
  +align-items(center)
  +justify-content(space-between)
