.post-header
  max-width:720px
  +display(flex)
  margin: 0 auto
  +align-items(center)
  +justify-content(space-between)
.post-title
  font-size: 42px
  letter-spacing: -1px
  line-height: 1


.post-meta
  margin-bottom: 0px

.post-link
  display: block
  font-size: 42px


.post
  max-width:780px
  +display(flex)
  margin: 0 auto
  +align-items(center)
  +justify-content(space-between)


.blurb
  max-width: 720px
  padding: 0 15px
  margin: 50px auto
  font-size: 25px
  text-align: center
  font-weight: 30
