---
layout: default
---
{% include header_small.html %}


<div class="post">

  <section class"site-section">
  <ul class="project-list">
    {% for project in site.categories['project'] %}

    <div class="project">
        <div class="thumbnail">
            <a href="{{ project.redirect }}" target="_blank">
            {% if project.img %}
            <img class="thumbnail" src="{{ project.img }}"/>
            {% else %}
            <div class="thumbnail blankbox"></div>
            {% endif %}
            <span>
                <h1>{{ project.title }}</h1>
                <br/>
                <p>{{ project.description }}</p>
            </span>
            </a>
        </div>
    </div>
    {% endfor %}
  </ul>

 </section>


 {% include hello.html %}


  <article class="post-content">
    {{ content }}
  </article>

</div>
